# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.env
.env.*
venv/
.venv/
env/

# Base de données locale
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# Alembic
alembic/versions/*.pyc

# Render / CI
.render-buildpacks.json
